<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="flaskhandler" />
            <add name="flaskhandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python310\python.exe|C:\Python310\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Execute" />
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="WSGI_HANDLER" value="api_server.app" />
        <add key="PYTHONPATH" value="E:\GitHub\EUC-Lab-Portal-Python\api_server" />
    </appSettings>
</configuration>
